# List of dependencies for the French-Bonds-Analysis
# Install these packages using: pip install -r requirements.txt
  numpy>=1.22
  pandas>=1.4
  matplotlib>=3.5
  jupyter>=1.0
  scipy>=1.8
  seaborn>=0.12
  statsmodels>=0.13
  prophet>=1.1
  scikit-learn>=1.1
